{% extends 'base.html' %}

{% block content %}
    <br>
    <a href="{% url 'b_board:ad_creation' %}" class="btn btn-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">create ad</a>
    <br><br>
{% if ads %}
    {% for ad in ads %}
        <div class="card">
            <div class="card-header" style="text-align: right">
                <small>Tags: {{ ad.tags | length }} Comments: {{ ad.comments | length }}</small>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-11 card-title">
                        <h5>{{ ad.title }}</h5>
                        <a href="{{ ad.id }}">try me</a>
                    </div>
                    <div class="col-1">
                        <form action="{% url 'b_board:ad_details' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="ad_id" value="{{ ad.id }}">
                            <button type="submit" class="btn btn-outline-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-border-width" viewBox="0 0 16 16">
                                    <path d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-2zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>{{ error }}</p>
{% endif %}
{% endblock %}